
.contrast-mode {
  background-color: #000; 
  color: #fff; 
}

.contrast-mode a {
  color: #00ffff; 
}

.contrast-mode a:hover {
  color: #ff00ff;
}

.contrast-mode .accessibility-plugin {
  background-color: #fff;
  color: #000; 
}

.toolbar-button.active, .toolbar-button.active:hover {
  border:solid 5px greenyellow; 
  color: black;
}

body {
  background-color: #fff;
  color: #000;
  transition: background-color 0.5s ease, color 0.5s ease; 
}

body.contrast-mode {
  background-color: #000;
  color: #fff; 
}
