
.contrast-mode {
  background-color: #000; 
  color: #fff; 
}

.contrast-mode a {
  color: #00ffff; 
}

.contrast-mode a:hover {
  color: #ff00ff;
}

.contrast-mode .accessibility-plugin {
  background-color: #fff;
  color: #000; 
}

.toolbar-button.active, .toolbar-button.active:hover {
  border:solid 5px greenyellow; 
  color: black;
}

body {
  background-color: #fff;
  color: #000;
  transition: background-color 0.5s ease, color 0.5s ease; 
}

body.contrast-mode {
  background-color: #000;
  color: #fff; 
}

.submenu-container {
  position: relative;
  display: inline-block;
}

.submenu {
  position: absolute;
  top: 100%; /* Direkt unter dem Button */
  left: 0;
  z-index: 1000;
  width: 100%; /* Gleiche Breite wie der Button */
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.submenu-item {
  display: block;
  width: 100%;
  text-align: left;
  padding: 0.5rem;
}
